@model Task4Start.Models.SkillAndStaffVM

@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Skills for @Html.DisplayFor(model => model.staffMember.fullName) (@Html.DisplayFor(model => model.staffMember.staffCode))</h2>

<p>
    @Html.ActionLink("Add New Skill", "AddSkill", "Staff", new { id = Model.staffMember.staffCode }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.skills.First().skillCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skills.First().skillDescription)
        </th>
    </tr>

@foreach (var item in Model.skills) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.skillCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skillDescription)
        </td>
    </tr>
}

</table>
